.video-js,
.vjs-control-bar {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.vjs-playlist {
    background-color: #2d2d2d;
    overflow-y: auto;
    max-height: 150px;
    margin: auto;
}

.vjs-track {
    color:#fff;
}

.vjs-track:hover {
    color: #f7f9fc;
}

.vjs-playlist ul{
    padding: 0;
    list-style: none;
}

.vjs-playlist ul li {
    background-color: #2d2d2d;
    text-align: left;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
}

.vjs-playlist ul li a {
    padding: 15px;
    display: block;
    width: 100%;
}

.currentTrack {
    color: gray;
}

.currentTrack {
    background-color:#373737;
}

.vjs-playlist ul li:hover {
    background-color: #373737;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
}

.vjs-playlist ul li a:hover,
.vjs-playlist ul li a:focus {
    color: #fff;
}
